*.js
!jest.config.js
*.d.ts
node_modules
build/

# CDK asset staging directory
**/.cdk.staging
**/cdk.out

# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
**/node_modules
dist/

# IDE
.vscode/*
!.vscode/extensions.json
.idea

